.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 11vh;
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 20;

  @media (max-width: 768px) {
    font-size: 10px;
  }

  &__logo-link {
    display: block;
    width: 250px;
    height: 150px;
    background-image: url('@/assets/logo-transparent.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 12px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-item {
      margin: 0 15px;
    }

    &-link {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 12px;
  }

  &__icon-btn {
    position: relative;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 18px;
      height: 18px;
    }

    &--drawer {
      background-image: url('@/assets/icons/drawer.svg');
    }

    &--favorite {
      background-image: url('@/assets/icons/favorites.svg');
    }

    &--profile {
      background-image: url('@/assets/icons/profile.svg');
    }
  }

  &__tooltip {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    white-space: nowrap;
  }

  &__icon-btn:hover &__tooltip {
    opacity: 1;
  }

  &__cart-count {
    background-color: #d22b2b;
    color: #f4f4f4;
    font-size: 10px;
    border-radius: 50%;
    padding: 4px 7px;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;
    min-width: 20px;
    text-align: center;
  }
}
