.product-filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 20px;

  label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  select {
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    background-color: #fff;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: #333;
    }
  }
}
